.woocommerce-cart-form__cart-item{
	.attachment-woocommerce_thumbnail{
		max-width: 100%;
		width: 100%;
		height: auto;
		border-radius: $border-radius;
		@include media-breakpoint-down(md){
			max-width: 150px;
			margin: 0 auto;
			display: block;
		}
	}
}
.cart-discount{
	.woocommerce-remove-coupon{
		font-size: 12px;
		color: $danger;
	}
}

