.accordion{
	&-button{
		font-weight: bold;
		position: relative;

	}
}

.collapse-mobile__ctrl{
	display: flex;
	@include media-breakpoint-down(md){
		&::after{
			font-family: $fa-style-family;
			content: quote($fa-var-chevron-down);
			font-weight: 900;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			margin-left: auto;
			color: $info;
			transform: rotate(180deg);
			transition: transform 0.2s ease-out;
		}
		&.collapsed::after{
			transform: rotate(0deg);
		}
	}
}
.collapse-mobile__content{
	@include media-breakpoint-up(md){
		height: auto !important;
	}
}
