.flash{
  position: relative;
  background-color: $success;
  color: #fff;

  &__inner{
    padding: 30px 55px 30px 155px;
    @include media-breakpoint-down(md){
      padding: 20px 55px 20px 20px;
    }
  }
  &__header{
    display: flex;
    align-items: center;
  }
  &__title{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 0;
  }
  &__body{
    padding-top: 10px;
  }
  &__ico{
    font-size: 30px;
    color: $white;
    width: 40px;
    flex: 0 0 40px;
    height: 100%;
    margin-right: 10px;
    //border-right: 1px solid $basic--20;
    @include media-breakpoint-up(md){
      position: absolute;
      top: 0;
      left: 10px;
      width: 116px;
      font-size: 50px;
    }

    [class^="fa-"],
    [class*=" fa-"] {
      @include media-breakpoint-up(md){
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    font-size: 18px;
    color: $danger;
    height: 100%;
    width: 60px;
    border: 0;
    @include media-breakpoint-down(md){
      height: 40px;
    }

    [class^="fa-"],
    [class*=" fa-"] {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
  }

  // Overwrite
  p{
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
  }
}


.alert-icon {
	display: flex;
	align-items: center;
	margin: {
		top: -$alert-padding-y;
		right: $alert-padding-x;
		bottom: -$alert-padding-y;
		left: -$alert-padding-x;
	}
	padding: 1em;
	@include border-start-radius($alert-border-radius);
	font-size: 1.125rem;
}

.alert{
	color: #fff;
	a{
		color: inherit;
		text-decoration: underline;
	}
	&-tertiary{
		background: $tertiary;
		color: white;
	}
}

@each $color, $value in $theme-colors {
	.alert-#{$color} {
		.alert-icon {
			background-color: darken($value,8%);
		}
	}
}

