/**
 * Button
 */

//.wp-block-button {
//  &__link {
//    font-size: $btn-font-size;
//    line-height: $btn-line-height;
//    padding-bottom: $btn-padding-y;
//    padding-left: $btn-padding-x;
//    padding-right: $btn-padding-x;
//    padding-top: $btn-padding-y;
//
//    &:hover {
//      text-decoration: none;
//    }
//  }
//
//  &.is-style-outline {
//    .wp-block-button__link {
//      @include button-outline-variant(
//        map-get($theme-colors, 'primary'),
//        map-get($theme-colors, 'light')
//      );
//    }
//  }
//
//  &.is-style-solid {
//    .wp-block-button__link {
//      @include button-variant(
//        map-get($theme-colors, 'primary'),
//        map-get($theme-colors, 'light')
//      );
//    }
//  }
//}

.btn{
	text-transform: uppercase;
	letter-spacing: 1.2px;
}


.border-white{
	border-color: #FFF;
}
// button round
.btn-pulse{
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
	padding: 0;
	display: block;
	text-align: center;
	transition: all 0.3s ease-out;
	position: relative;
	font-size: 20px;
	z-index: 1;
	i{
		margin:0;
		z-index: 3;
	}
	&:hover{
		color: $primary;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		top: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		display: block;
		width: 60px;
		height: 60px;
		background: $white;
		border-radius: 50%;
		-webkit-animation: pulse-border 1500ms ease-out infinite;
		animation: pulse-border 1500ms ease-out infinite; }
}
@-webkit-keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1; }
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0; } }

@keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1; }
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0; } }
.btn-round{
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	padding: 0;
	display: block;
	text-align: center;
	transition: all 0.3s ease-out;
	i{
		margin:0;
	}
	&:hover{
		transform: scale(1.05);
	}
	// Quick fix for play button centered
	.fa-play{
		padding-left: 3px;
	}
	&.btn-lg{
		height: 55px;
		width: 55px;
		line-height: 55px;
	}
	&.btn-sm{
		height: 32px;
		width: 32px;
		line-height: 30px;
		i{
			font-size: .6rem;
		}
	}
	&.btn-xs{
		height: 25px;
		width: 25px;
		line-height: 24px;
		i{
			font-size: .6rem;
		}
	}
}


.btn-social {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	padding: 0;
	border: 1px solid #4b566b;
	border-radius: 50%;
	background-color: #4b566b;
	color: #FFF;
	font-size: 1rem;
	text: {
		align: center;
		decoration: none !important;
	}
	> i {
		line-height: 2.25rem - .125rem;
	}

	&:focus,
	&:hover { background-color: $tertiary; }

}


.btn-share {
	display: inline-block;
	font-size: 12px;
	background-color: $light;
	color: white;

	> i {
		@include media-breakpoint-up(md){
			margin: {
				top: -.125rem;
				right: .3125rem;
			}
		}

		font-size: 1.1em;
		vertical-align: middle;
	}

	// Twitter
	&.btn-twitter {
		background-color: $color-twitter;
		&:hover { background-color: darken($color-twitter, 10%); }
	}

	// Linked In
	&.btn-linkedin {
		background-color: $color-linkedin;
		&:hover { background-color: darken($color-linkedin, 10%); }
	}

	// Facebook
	&.btn-facebook {
		background-color: $color-facebook;
		&:hover { background-color: darken($color-facebook, 10%); }
	}

	&:hover {
		color: $white;
		box-shadow: none;
	}
}

.btn-payment{
	&:before{
		content: quote($fa-var-lock);
		font-family: $fa-style-family;
		margin-right: 8px;
	}

}

.order-again{
	.button{
		@extend .btn;
		@extend .btn-info;
		@extend .btn-sm;
		color: #fff;
		&:before{
			content: quote($fa-var-arrow-rotate-right);
			font-family: $fa-style-family;
			margin-right: 8px;
		}
	}
}


.yith-wcbk-add-to-cart-button.single_add_to_cart_button.yith-wcbk-not-allowed{
	pointer-events: none;
	opacity: 0.65;
	cursor: not-allowed;
}
