
.card {
	box-shadow: 0 0.5rem 0.6rem rgb($primary, 0.12);
	//overflow: hidden;
	background-color: $white;
	transition: box-shadow 0.3s ease-out, border 0.3s ease-out;

	.card-title {
		transition: color 0.3s ease-out;
	}

	&.article-card:hover,
	&.article-card:focus-within,
	&.product-card:hover,
	&.product-card:focus-within {
		box-shadow: 0 0 0.2rem rgb($primary, 0.15);

		.card-image .attachment-woocommerce_thumbnail {
			transform: scale(1.05);
		}

		.card-title {
			color: $tertiary;
		}
	}

	&.product-card {
		.woocommerce-LoopProduct-link {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	.card-activity-category {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		top: 5px;
		left: 5px;
		right: 5px;
		z-index: 2;
		align-items: flex-start;

		i {
			margin-right: 3px;
		}
	}

	.card-image {
		border-radius: $card-border-radius;

		.attachment-woocommerce_thumbnail {
			transition: transform 0.6s ease-out, opacity 0.6s ease-out;
			width: 100%;
			height: 100%;
			transform: scale(1);
			margin: 0 !important;
		}
	}

	&.product-card {
		border-color: transparent;
		border-width: 3px;

		&:hover,
		&:focus-within {
			border-color: $secondary;
		}

		.card-image {
			overflow: hidden;
		}

		.badge-wrapper {
			position: absolute;
			top: -15px;
			left: 17px;
		}

		.card-title {
			font-size: 15px;
			color: $dark;
		}

		.card-list-info {
			.fas {
				color: $primary;
			}

			span {
				color: $body-color;
			}
		}

		.card-price-wrap {
			font-family: $headings-font-family;

			.card-price-label {
				font-size: 11px;
				font-weight: bold;
				color: $gray-500;
				text-transform: uppercase;
				margin-bottom: 1px;
				display: block;

			}

			.card-price {
				font-size: 22px;
				line-height: 22px;
				font-weight: bold;
				text-transform: uppercase;

			}

			.card-price-per-pax {
				display: none;
			}
		}


		&.card--horizontal {
			> a {
				display: flex;
			}

			.card-image {
				width: 33%;
				border-radius: $border-radius;
			}

			.card-body {
				.badge-wrapper {
					position: relative;
					margin-top: -13px;
					top: 0;
					left: 0;
				}

			}
		}

	}
}

.product-card-video {
	border-radius: 10px;
	position: relative;
	margin-bottom: 50px;

	&-image {
		border-radius: 10px;
		cursor: pointer;
		&:hover {
			.btn {

				transform: translate(-50%, -50%) scale(1.1) !important ;
			}
		}
	}

	&-category {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		top: 20px;
		left: 20px;
		z-index: 2;
		align-items: flex-start;

		i {
			margin-right: 3px;
		}
	}

	&-details {
		cursor: pointer;

		display: block;
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		margin: 20px 20px 0;
		padding: 11px 18px;
		background-color: rgba($white,0.75);
		--tw-backdrop-blur: blur(10px);
		-webkit-backdrop-filter: var(--tw-backdrop-blur) ;
		backdrop-filter: var(--tw-backdrop-blur);
		border-radius: 12px;
		border: 1px solid rgba($white,0.7);
		.title{
			transition: color 0.3s ease-out;
			color: $primary;
		}
		&:hover {
			.title{
				color: $tertiary;
			}
		}
	}

	.card-price-wrap {
		font-family: $headings-font-family;
		.unit{
			color: $gray-600;
		}
		.card-price-label {
			font-size: 11px;
			font-weight: bold;
			color: $gray-600;
			text-transform: uppercase;
			margin-bottom: 1px;
			display: block;

		}

		.card-price {
			font-size: 18px;
			line-height: 1;
			font-weight: bold;
			text-transform: uppercase;

		}

		.card-price-per-pax {
			display: none;
		}
	}
}


.category-card {
	//border-radius: 15px;
	background-color: $dark;
	$self: &;
	position: relative;
	overflow: hidden;

	img {
		height: 300px;
		object-fit: cover;
		width: 100%;
		transition: transform 0.6s ease-out, opacity 0.6s ease-out;
		transform: scale(1);
	}

	& a:hover,
	& a:focus {
		img {
			transform: scale(1.1);
			opacity: 0.5;
		}
	}

	&__label {
		position: absolute;
		top: 25px;
		left: 25px;
		opacity: 0.9;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 1px;
		text-shadow: 0 2px 5px rgba($black, 0.4);
	}

	&__thumb {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 140px;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
		}
	}

	&__info {
		position: absolute;
		left: 25px;
		bottom: 25px;

		&__name {
			color: #ffffff;
		}

		&__number {
			color: $secondary;
			opacity: 0.9;
			font-size: 14px;
		}
	}
}


.article-card {
	.card-image {
		position: relative;
		display: block;
		padding-bottom: 45%;
		overflow: hidden;
		z-index: 1;

		img {
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.4s ease-in-out;
		}
	}
}

.blockquote-card {
	overflow: visible;

	blockquote:before {
		margin-top: -48px;
		display: table;
		margin-left: auto;
		color: $warning;
		content: '';
		width: 48px;
		height: 50px;
		background: url("../images/icons/quotes.svg") no-repeat center;
		background-size: contain;
	}
}


.booking-card {
	.yith_wcbk_widget_booking_form_close {
		display: none;
	}

	.yith_wcbk_widget_booking_form_head {
		p.price {
			margin-bottom: 0;
			color: $text-muted;
			line-height: 1;

			.amount {
				font-family: $headings-font-family;
				font-size: 38px;
				//line-height: 1;
				display: block;
				font-weight: bold;
				color: $tertiary;

				.woocommerce-Price-currencySymbol {
					font-size: 18px;
					padding-left: 4px;
					color: $body-color;
				}
			}

			.unit-price {
				font-size: 14px;
				color: #90989f;
			}
		}
	}

	.yith-wcbk-booking-form-total--discount {
		.yith-wcbk-booking-form-total__value {
			color: $success;
		}
	}
}






.media-thumb {
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background: rgba($primary, .8);
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease;
	}
	img {
		transform: scale(1.03);
		transition: .3s transform ease;
	}
	.media-text {
		position: absolute;
		bottom: 0;
		left:0;
		right: 0;
		padding: 60px 30px 25px;
		z-index: 2;
		opacity: 1;
		color: #FFF;
		visibility: visible;
		background: linear-gradient(0deg, rgba(36, 62, 144, 0.9) 40%, rgba(36, 62, 144, 0.65) 60%, rgba(36, 62, 144, 0) 99%);
		transition: .3s all ease;
		margin-top: 20px;
		.wrap{
			transition: .3s all ease;
		}
		h3 {
			color: $secondary;
			margin: 0;
			padding: 0;
		}
		.location{
			color: $white;
		}

		h3, .location {
			transition: .3s all ease;
		}

	}
	&:hover {
		.wrap{
			transform: translateY(-50px);
		}
		z-index: 3;

		img {
			transform: scale(1.0);
		}
		&:after {
			opacity: 1;
			visibility: visible;
		}
		.media-text {
			transition-delay: .2s;
			opacity: 1;
			visibility: visible;
		}
	}
}

