@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

//@media (min-width: 768px) {
	//.dropdown:not(.bootstrap-select){
		.dropdown-menu{
			top: 100% !important;
			animation-duration: 0.3s;
			animation-fill-mode: both;
			animation-name: slideIn;
		}
	//}

//}


