.dropdown-menu {
	box-shadow: $dropdown-box-shadow;
	text-transform: uppercase;

	.dropdown-item{
		font-weight: 700;
	}
}

select[multiple].select-dropdown{
	max-height: 38px;
}


input,
textarea{
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $gray-500 !important;
		opacity: 1; /* Firefox */
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $gray-500 !important;;
	}

	&::-ms-input-placeholder { /* Microsoft Edge */
		color: $gray-500 !important;;
	}
}

.iti{
	display: block;
}


.dropdown-toggle {
	&::after,
	&::before {
		font-family: $fa-style-family;
		font-weight: 900;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-size: 13px;
		opacity: 0.8;
	}
	&::after {
		margin-left: .5rem;
		margin-top: -3px;
		content: quote($fa-var-chevron-down);
	}
}

.bootstrap-select {
	.form-select{
		&::after {
			display: none;
		}
	}
	.dropdown-menu {
		.form-control{
			border: 1px solid $border-color;
		}
	}
}
.select2-selection--single{
	@extend .form-control;
	height: inherit !important;
	background-color: #f6f8fb !important;

	.select2-selection__arrow{
		height: 100% !important;
		width: 30px !important;
	}

}

.form-label,
.yith-wcbk-booking-form__label{
	font-size: .8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	.required{
		color: $danger;
	}
}


.list-group-checkable {
	display: grid;
	gap: .5rem;
	border: 0;

	.list-group-item {
		cursor: pointer;
		border-radius: .5rem;
	}

	.list-group-item-check:hover + .list-group-item {
		background-color: var(--bs-light);
	}

	.list-group-item-check {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
		&:checked + .list-group-item {
			color: #fff;
			background-color: var(--bs-primary);
		}
	}

	.list-group-item-check[disabled] + .list-group-item,
	.list-group-item-check:disabled + .list-group-item {
		pointer-events: none;
		filter: none;
		opacity: .5;
	}
}





.input-icon {
	$input-icon-padding-x: 40px;
	position: relative;

    .icon {
		position: absolute;
	    z-index: 1;
		pointer-events: none;
	    left: $input-icon-padding-x /2;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    color: $gray-500;
	}
	.dropdown .icon{
		z-index: 1;
	}

	> .form-control:not(.bootstrap-select),
	> .form-select:not(.bootstrap-select){
		padding-left:  $input-icon-padding-x;
	}
	.form-control.bootstrap-select {
		> .dropdown-toggle {
			padding-left:  $input-icon-padding-x;
		}

		.dropdown-menu {
			//min-width: calc(100% - #{$input-icon-padding-x});
		}

	}

	&--right{
		.icon {
			right: $input-icon-padding-x /2;
			left: auto;
			transform: translate(50%, -50%);


		}
		> .form-control {
			padding-right: $input-icon-padding-x;
			padding-left: $input-padding-x;
		}

	}

}

#collapseFilter{
	.irs.irs--flat{
		//margin: 35px 10px 10px;
		//height: 10px;
		.irs-bar{
			background-color: lighten($primary,10%);
		}
		.irs-from,
		.irs-to{
			background-color: $primary;
			&:before{
				border-top-color: $primary;
			}
		}
		.irs-handle{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: $secondary;
			border: 2px solid $primary;
			box-shadow: 0 2px 5px rgba(0,0,0,0.3);
			top: 18px;

			i:first-child{
				display: none;
			}

			.noUi-touch-area{
				display: none;
			}
		}
	}
}



.woocommerce div.product form.cart div.quantity{
	float: none !important;
	margin: 0 !important;
}
.quantity {
	position: relative;
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}

	.quantity-nav {
		right: 1px;
		top:  1px;
		bottom: 1px;
		position: absolute;
	}

	.quantity-button {
		position: relative;
		cursor: pointer;
		border: none;
		border-left: 1px solid rgba(0, 0, 0, 0.08);
		width: 30px;
		text-align: center;
		font-weight: 500;
		color: #333;
		font-size: 20px;
		line-height: 0;
		padding: 0;
		background: #FAFAFA;
		transform: translateX(-100%);
		user-select: none;

		&:active,
		&:hover {
			background: $gray-400;
		}

		&.quantity-up {
			position: absolute;
			border-top-right-radius: 0.5rem;
			height: 50%;
			top: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		}
		&.quantity-down {
			position: absolute;
			border-bottom-right-radius: 0.5rem;
			bottom: 0;
			height: 50%;
		}
	}
}

//-------------------
// filter input hack

.yith-wcbk-date-picker-wrapper input.yith-wcbk-date-picker--formatted,
.yith-wcbk-date-picker-wrapper input.yith-wcbk-date-picker{
	@extend .form-control;
	background: $input-bg !important;
}
div:not(.form-bar-search){
	.form-control.yith-wcbk-google-maps-places-autocomplete{
		//background: inherit !important;
	}
}


.yith-wcbk-date-picker-wrapper{
	.yith-wcbk-booking-date-icon{
		color: $secondary;
		font-family: $fa-style-family !important;
		&::before{
			content: quote($fa-var-calendar-alt);
		}
	}
}
.ui-widget.ui-datepicker{
	font-size: 14px;
	z-index: 100!important;
}

:root{
	--yith-wcbk-primary-light : #{$primary};
	--yith-wcbk-primary : #{$tertiary};
}

.yith-wcbk-datepicker.ui-datepicker{
	.ui-datepicker-title{
		font-weight: bold;
		font-family: $headings-font-family;
		color: $tertiary;
		text-transform: capitalize;
	}
	.ui-datepicker-close{
		font-size: 13px;
		font-weight: bolder;
	}
	.ui-datepicker-calendar{
		thead th{
			font-weight: bolder !important;
			color: $primary;
		}
		tr td a{
			border-radius: 4px;
			color: $gray-600;
		}
		a.ui-state-active,
		a.ui-state-hover{
			color: white;
		}

	}

}




//Paymee submit btn
#submit_paymee_payment_form{
	@extend .btn;
	@extend .btn-tertiary;
	width: 100%;
}











