.gallery {

	--bs-rows: 2;
	--bs-columns: 8;
	--bs-gap: 10px;
	max-height: 280px;

	@include media-breakpoint-up(md){
		--bs-columns: 12;
		max-height: 350px;
	}

	@include media-breakpoint-up(lg){
		max-height: 400px;
	}

	.gallery-item{
		display: block;
		position: relative;
		text-decoration: none !important;
		overflow: hidden;

		&:not(.visible){
			display: none;
		}

		&:first-child{
			grid-row: span 2;
			grid-column: span 8;
		}

		&:nth-child(2){
			grid-column: span 4;
		}
		&:nth-child(3){
			grid-column: span 2;
		}

		&.--last{
			grid-column: span 2;
			&:before{
				opacity: 0.7;
				background-color: rgba($dark, 0.7);
			}
			&:after{
				content: attr(data-next-photo);
				transform: translateY(-50%) !important;
				width: 100%;
				height: auto;
				left: 0;
				margin: 0;
				opacity: 1;
				text-shadow: 0 1px 5px rgba($black, 0.5);
				font-family: $font-family-sans-serif !important;
				font-size: 18px;
			}
		}

		// Overlay
		&::before {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			transition: opacity .3s ease-in-out;
			background-color: rgba($secondary, 0.7);
			content: '';
			opacity: 0;
			z-index: 1;

		}

		// Indicator
		&::after {
			display: block;
			position: absolute;
			top: 50%;
			left:0;
			width: 100%;
			height: auto;
			transform: scale(.3) translateY( -50%);
			color: #fff;
			font-family: $fa-style-family;
			font-weight: 900;
			font-size: 30px;
			text-align: center;
			content: '\f00e';
			z-index: 5;
			transition: all .3s ease-in-out;
			opacity: 0;
		}

		// Hover state
		&:hover {
			&::before, &::after {
				opacity: 1;
			}
			&::after {
				transform: scale(1) translateY( -50%);
			}
		}

		// More images
		&.more-item {
			&::before {
				background: rgba($gray-900, .6);
				opacity: 1;
			}

			&::after {
				display: none;
			}

			.gallery-item-caption {
				top: 50%;
				bottom: auto;
				font-weight: bold;
				text-decoration: underline;
				transform: translateY(-50%);
				opacity: 1;
			}

			&:hover .gallery-item-caption {
				text-decoration: none;
			}
		}
	}
}

