/**
 * Home Hero
 */

.home-hero {
	min-height: 340px;
	height: 400px;
	max-height: 650px;
	position: relative;
	paading-bottom: 100px;

	//&:after {
	//	content: '';
	//	position: absolute;
	//	top: 0;
	//	left: 0;
	//	width: 100%;
	//	height: 100%;
	//	z-index: 1;
	//	background-color: rgba($black, 0.3);
	//}

	&-carousel{
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		.swiper-wrapper,
		.swiper-slide{
			height: 100%;
		}
	}


	@include media-breakpoint-up(md){
		height: 60vh;
		margin-bottom: 0;
	}

	.subtitle {
		opacity: 0.8;
		letter-spacing: 1.2px;
		line-height: 1.2;
		margin-bottom: 0;
		text-shadow: 0 2px 8px rgba(0,0,0,0.2);
	}
	.title{
		text-shadow: 0 2px 8px rgba(0,0,0,0.2);
	}


	@include media-breakpoint-down(sm){
		.subtitle {
			font-size: 0.85rem;
			margin-bottom: 8px;
		}
		.title{
			font-size: calc(1.475rem + 2vw);
			line-height: 1.2;
			margin-bottom: 20px;
		}
	}
	.home-hero-form{
		position: absolute;
		bottom: -100px;
		left: 0;
		width: 100%;
		z-index: 2;
		@include media-breakpoint-up(md){
			bottom: 80px;
		}
	}
}



$form-group-padding: 0.5rem;

.form-bar-search{
	align-items: center;
	padding: 10px;
	background-color: white;
	box-shadow: rgba(31, 27, 45, 0.12) 0 2px 2px -2px,
	rgba(31, 27, 45, 0.12) 0 4px 12px 0px;
	border-radius: 50rem;
	@include media-breakpoint-down(md) {
		border-radius: 0.8rem;
	}

	.fas {
		font-size: 18px;
		color: $secondary;
		@include media-breakpoint-down(md){
			font-size: 15px;
		}
	}
	label{
		display: none;
	}

	.form-group__location,
	.form-group__search{
		//@extend .col-md-5;
		@include media-breakpoint-down(md){
			padding-bottom: 0.4rem;
			border-bottom: 1px solid #efefef;
			//margin-bottom: 0.7rem !important;
		}
	}
	.form-group__categories{
		@extend .col-md-4
	}

	.bootstrap-select {
		width: 260px;
		//max-height: 38px;

	}


		// Form controls inside form group
	.form-control,
	.form-select {
		font-size: $font-size-root;
		font-weight: bold;
		text-transform: uppercase;
		border: 0;
		background-color: transparent;
		outline: none;
		@include media-breakpoint-down(md){
			padding-bottom: 0.3rem;
			padding-top: 0.3rem;
			font-size: 14px;
		}


		&:focus {
			box-shadow: none;
			outline: none !important;
		}

		&::after {
			display: none;
		}
	}

	// Input group inside form group
	.input-group {
		//.input-group-text {
		//	margin-top: -0.02rem;
		//	padding-right: 0;
		//	border: 0;
		//	background: transparent;
		//
		//
		//	& + .form-control,
		//	& + .form-select {
		//		padding-left: .750375rem;
		//	}
		//}
		.form-control .form-select{
			padding: 0.5rem 3.5rem 0.5rem 0.8rem;
		}

	}

}


.features-section{
	.features-section__list{
		@include media-breakpoint-down(sm){
			h6 {
				font-weight: normal;
			}
		}
	}
}
