//
// Off-canvas
// --------------------------------------------------

.offcanvas{
	.offcanvas-header{
		.menu-logo{
			width: 180px;
		}
		.btn-close{
			opacity: 0.8;
			background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1.2em auto no-repeat;
		}
	}


	.dropdown-toggle.show{
		color: $tertiary !important;
	}


	&-footer {
		display: none;
		flex-direction: column;
		align-items: center;
		flex-shrink: 0;
		padding: $offcanvas-padding-y $offcanvas-padding-x;

		.bg-dark & {
			background-color: rgba($white, .05);
		}
		&__item{
			display: flex;

			.label{
				line-height: 1;
			}
		}
	}
	&.show{
		.nav-item{
			background-color: #f6f9fc;
			margin-bottom: 0.667rem;
			border-radius: 0.3125rem;
		}
		.dropdown-menu{
			background: transparent;
			box-shadow: none;
			border-top: 1px solid $border-color;
		}
		.offcanvas-footer {
			display: block;
		}
	}

}
