/**
 * Pages
 */
.page-content-card {
	padding: 40px 20px;
	border-radius: $border-radius;
	background-color: $white;
	box-shadow: $box-shadow-sm;

	@include media-breakpoint-down(md){
		padding: 20px 10px;
	}
}

.page-body {
	position: relative;
	.listing-filter-col{
		position: relative;
		&__content{
			position: relative;
			z-index: 1;
		}

		&:after{
			content: '';
			display: block;
			width: 50vw;
			position: absolute;
			background-color: $gray-100;
			box-shadow: 0 .5rem 1rem rgba($black, .1);
			left: 0;
			top: -70px;
			bottom: -70px;
			z-index: 0;
		}
	}
}
@include media-breakpoint-down(sm){
	.container{
		--bs-gutter-x : 1.2rem;
	}
	.page-body.container,
	.page-body > .container{
		padding-right: 0;
		padding-left: 0;
	}
}


.comment-form-rating{
	.stars{
		font-size: 20px;
		margin-top: 10px;
	}
}



.provider-section{
	&__logo{
		width: 40px;
		height: 40px;
	}
}


@media (max-width: 44.375em) {
	.yith_wcbk_booking_product_form_widget.yith_wcbk_booking_product_form_widget--mobile-fixed:not(.yith_wcbk_booking_product_form_widget__opened){
		//background-color: $primary;
		//color: #fff;
		//height: 0px;
	}
}

