.page-header{
	background-color: $primary;
	color: rgba($white, 0.6);

	padding-top: 60px;

	.title {
		color: $white;
	}

	&__post-meta{
		a{
			color: inherit;
		}
	}

	&--overlap {
		padding-bottom: 6.5rem;
		& + * {
			margin-top: -4.875rem;
		}
		@include media-breakpoint-down(md) {
			padding-top: 30px;
			padding-bottom: 6rem;
		}
	}

	&--blog-post{
		position: relative;
		padding-bottom: 7rem;
		padding-top: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		.content{
			position: relative;
			z-index: 2;
		}
		&:after{
			content: '';
			display: block;
			background-color: $primary;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0.8;
			z-index: 0;
		}
		.post-featured-image{
			border-radius: 10px;
			box-shadow: $box-shadow;
		}

	}
}

.page-header-meta{
	a{
		color: inherit;
		&:hover{
			color: $secondary;
		}
	}
}

.product-info-header{
	margin-bottom: 30px;
	overflow-wrap: normal;
	padding: 20px 0;
	&__item{
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		align-items: center;
		position: relative;


		&:last-child{
			&:after{
				display: none;
				margin-right: 0;
			}
		}

		&:after{
			content: '';
			width: 1px;
			background-color: rgba($white,0.3);
			position: absolute;
			bottom: -5px;
			top: -5px;
			right: 0;
		}

		&__icon{
			color: $tertiary;
			font-size: $h5-font-size;
			margin-right: 10px;
			width: 28px;
			text-align: center;
		}
		&__text{
			display: flex;
			flex-direction: column;
			.label{
				display: block;
				font-size: 11px;
				line-height: 1;
				text-transform: uppercase;
				color: $gray-600;
				letter-spacing: 1.1px;
				margin-bottom: 6px;
			}
			.value{
				line-height: 1;
				color: $primary;
				font-size: 13px;
			}
		}
	}
}

.breadcrumb {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	&-item{
		flex-shrink: 0;
		font-weight: bold;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		//&:nth-child(2){
		//	@include media-breakpoint-down(md) {
		//		&.active {
		//			max-width: 80px;
		//
		//		}
		//	}
		//}

	}
	a{
		color: rgba($white, 0.6);
		&:hover{
			color: $secondary;
		}
	}
}


.activity-booking-cta{
	background-color: $primary;
	color: $white;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: $zindex-fixed;
	box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
	transition: $transition-base;
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;

	&.show{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}


	.title{
		color: $white;
	}
}
