/**
 * Pagination
 */
.woocommerce-pagination{
	ul.page-numbers{
		display: flex;
		list-style: none;
		padding: 0;
		margin: 2.5rem 0 1rem;
		justify-content: center;
		border: 0 !important;
		li{
			display: inline-block;
			border: 0 !important;
			&:first-child{
				.page-numbers{
					@include border-start-radius($border-radius);
				}
			}
			&:not(:first-child) .page-numbers{
				margin-left: -1px;
			}

			&:last-child{
				.page-numbers{
					@include border-end-radius($border-radius);
				}
			}
			.page-numbers{
				padding: 0.375rem 0.75rem;
				border: 1px solid $border-color;
				&.current{
					background: $tertiary;
					font-weight: bold;
					color: white;
					border-color: $tertiary;
				}
			}

		}
	}
}
.archive.woocommerce-shop.woocommerce{
	.woocommerce-pagination ul.page-numbers{
		margin: 3.5rem 0 0;;
	}
}

.woocommerce-pagination.woocommerce-pagination--without-numbers{
	text-align: center;
	.woocommerce-button{
		padding: 0.375rem 0.85rem;
		border-radius: $border-radius;
		background-color: $primary;
		color: white;
		font-weight: bold;
		font-size: 14px;
		margin: 10px 5px 0;
		&:hover,
		&:focus{
			background-color: $tertiary;
		}

	}
}
