/**
 * About Section
 */

.features-section {

	@include media-breakpoint-down(md){
		.container {
			padding-top: 120px;
		}
	}

	&__list{
		.icon {
			width: 60px;
			margin-bottom: 10px;
			display: inline-block;
			@include media-breakpoint-down(lg){
				width: 40px;
			}

		}
	}

}


.section-title{
	&--decoration{

		span {
			display: inline-block;
			padding-right: 5px;
			position: relative;
			color: $secondary;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 5px;




			&:after{
				position: absolute;
				top: 11px;
				width: 30px;
				height: 2px;
				content: "";
				background: $secondary;
				right: -35px
			}

			&.text-white:after{
				background: $white;
			}


			@at-root .text-center#{&}{
				padding-left: 5px;
				&::before {
					position: absolute;
					top: 11px;
					width: 30px;
					height: 2px;
					content: "";
					background: $secondary;
					left: -35px
				}
			}
		}
	}
}


.faq-section{
	position: relative;
	background-color: $primary;
	background-image: url("../images/bg-faq.jpg");
	background-position: center;
	background-size: cover;

	&:after{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba( $primary, 0.8);
		content: '';
		z-index: 0;
	}

	.container{
		position: relative;
		z-index: 1;
	}
}
