/*
-----------------------------------------
Text Global
-----------------------------------------
*/
p {
	@include spacing-first-last(20px);
}


.lead{
	font-family: $headings-font-family;
	color: #879ea9;
}

a{
	transition: all 0.3s ease-out;
}


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	.badge{
		transform: translateY(-5px);
	}
}


// Heading line height

//h1, .h1, .fs-1 { line-height: $h1-line-height; }
//h2, .h2, .fs-2 { line-height: $h2-line-height; }
//h3, .h3, .fs-3 { line-height: $h3-line-height; }
//h4, .h4, .fs-4 { line-height: $h4-line-height; }
//h5, .h5, .fs-5 { line-height: $h5-line-height; }
//h6, .h6, .fs-6 { line-height: $h6-line-height; }

p + h2,
p + h3,
ul + h2,
ul + h3{
	margin-top: 40px;
}

h1, h2,
.h1, .h2{
	//text-transform: uppercase;
	text-transform: capitalize;
}


.fs-xs,
.fs-xxs{
	line-height: 1.23;
}


.dash{
	position: relative;
	padding-bottom: 20px;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 200px;
		border-bottom: 5px solid $secondary;
	}

	&--white:before{
		border-color: #fff;
	}

	&--center{
		&:before{
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	&--right{
		&:before{
			left: auto;
			right: 0;
		}
	}
}

.text-cap{
	display: block;
	color: $dark;
	font-size: .8125rem;
	font-weight: normal;
	letter-spacing: .03125rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.nav-menu-column{
	.nav-icon{
		flex: 0 0 1.8rem;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 1.8rem;
	}
	.nav-link {
		display: flex;
		align-items: center;
		padding-right: 0;
		padding-left: 0;
		font-size: .9375rem;
		white-space: nowrap;
		&.active{
			color: $primary;
		}
	}
}


.morecontent span {
	display: none;
}
