.yith_wcbk_booking_product_form_widget{
	border: 0 !important;
	padding: 0 !important;
}


.yith-wcbk-form-section-service{
	font-size: 14px;
}


/*
* WooCommerce Forms
*---------------------------
*/

.woocommerce-form-row{
	label{
		display: block;
		@extend .form-label;
	}
	.woocommerce-Input{
		@extend .form-control;
	}
	span em,
	.woocommerce-password-hint{
		@extend .form-text
	}
	.woocommerce-password-strength{
		text-align: center;
		font-weight: 600;
		padding: 3px 0.5em;
		&.strong {
			background-color: $success;
			color: #FFF
		}

		&.short {
			background-color: #f1adad;
		}

		&.bad {
			background-color: #fbc5a9;
		}

		&.good {
			background-color: #ffe399;
		}
	}
}

.lost_reset_password .woocommerce-Button{
	@extend .btn;
	@extend .btn-primary;
}

.woocommerce-error{

}



/*
* WooCommerce Account
*---------------------------
*/
.woocommerce-MyAccount-navigation-link{
	.nav-link{
		&:before{
			flex: 0 0 1.8rem;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 1.8rem;
			font-family: $fa-style-family;
			font-weight: 900;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			content: quote($fa-var-circle);
		}
		&__orders:before{ content: quote($fa-var-shopping-basket); }
		&__dashboard:before{ content: quote($fa-var-home); }
		&__bookings:before{ content: quote($fa-var-calendar-check); }
		&__edit-account:before{ content: quote($fa-var-user-edit); }
		&__aide:before{ content: quote($fa-var-circle-question); }
		&__contact:before{ content: quote($fa-var-headset); }
		&__customer-logout:before{ content: quote($fa-var-sign-out-alt); }
	}
	&.is-active{
		.nav-link{
			color: $tertiary;
		}
	}
}

.nav-icon{
	&:before{
		margin-right: 8px;
		color: $tertiary;
		font-family: $fa-style-family;
		font-weight: 900;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		content: quote($fa-var-circle);
	}
	&__orders:before{ content: quote($fa-var-shopping-basket); }
	&__dashboard:before{ content: quote($fa-var-home); }
	&__bookings:before{ content: quote($fa-var-calendar-check); }
	&__edit-account:before{ content: quote($fa-var-user-edit); }
	&__aide:before{ content: quote($fa-var-circle-question); }
	&__contact:before{ content: quote($fa-var-headset); }
	&__customer-logout:before{ content: quote($fa-var-sign-out-alt); }
}




//payment receipt
.blockUI.blockMsg.blockElement{
	position: fixed !important;
	background-color: $primary !important;
	font-family: $headings-font-family !important;
	color: #FFF !important;
	border: 0 !important;
	padding: 40px 30px !important;
	border-radius: $border-radius !important;
	box-shadow: 0 1px 10px rgba($black,0.15) !important;
	top: 50vh !important;
	width: 90% !important;
	max-width: 450px !important;
	left: 50vw !important;
	transform: translate(-50%, -50%);
	letter-spacing: 0.5px;
	&:before{
		content: quote($fa-var-hourglass-half);
		font-family: $fa-style-family;
		font-size: 30px;
		color: $secondary;
		display: block;
		margin-bottom: 10px;
		@extend .fa-spin;
	}
}
.wc_payment_method.payment_method_wc_gateway_paymee{
	label{
		&:after{
			content: '';
			display: inline-block;
			width: 65px;
			height: 35px;
			margin-left: 8px;
			vertical-align: middle;
			background: url("../images/cc-v-m-icons.png") center no-repeat;
			background-size: contain;
		}

	}
}




.woocommerce-checkout{
	.card-item-detail{
		margin-bottom: 0 !important;
		border: 0 !important;
	}
	.card-item-detail__item{
		@include media-breakpoint-up(sm){
			flex: 0 0 auto;
			width: 50%;
		}
	}
}
.yith-wcbk-form-section-services-wrapper{
	margin-bottom: 30px;
	.yith-wcbk-form-section{
		background-color: $light;
		padding: 10px 15px;
		border-radius: $border-radius;
		border: 1px solid $border-color;
	}
}

.yith-wcbk-booking-form-message{
	.yith-wcbk-bookable{
		border-radius: $border-radius;
		background-color: $info;
		color: $white;
		font-size: $small-font-size;
		padding: 0.5rem 1rem;
		margin-bottom: 1rem;
	}
}


#collapseFilter{
	background-color: $light;
	padding: 10px 15px;
	border-radius: $border-radius;
	border: 1px solid $border-color;

	.yith_wcbk_booking_search_form_widget{
		margin-bottom: 30px;
	}
	.berocket_ajax_group_filter_title{
		font-size: calc(1.275rem + 0.3vw);
		line-height: 1.35;
	}
}

#ui-datepicker-div.yith-wcbk-datepicker.ui-widget-content{
	@include media-breakpoint-down(sm){
		max-width: 300px;
		width: 100%;
		margin-left: -18px;
	}
}


.woocommerce-error,.woocommerce-info,.woocommerce-message {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background-color: $light;
	color: #515151;
	border: 1px solid $border-color;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	border-radius: $border-radius;
	a{
		color: #FFF;
		text-decoration: underline;
	}
}

.woocommerce-error {
	border-color: $danger;
	background-color: $danger;
	color: white;
}

.woocommerce-info {
	border-color: $info;
	background-color: $info;
	color: white;
}

.woocommerce-message {
	border-color: $success;
	background-color: $success;
	color: white;
}
.woocommerce form .form-row.woocommerce-validated .select2-container .select2-selection.select2-selection--single,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select{
	border-color: $success;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container .select2-selection.select2-selection--single,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select{
	border-color: $danger;
}


.yith_wcmv_sold_by_wrapper{
	display: none;
}
