/** Config */
@charset "UTF-8";
@import "config/fonts";

$primary: #243e90;
$secondary: #f8c600;
$tertiary: #fd5531;
$font-family-sans-serif: 'Open Sans', sans-serif;



body{
	font-family: $font-family-sans-serif;
	background: #FFF;
}
#login{
	width: 100%;
	max-width: 500px;
}
.login{
	h1 a{
		background: transparent url("../images/what-to-do-in-tunisia.svg") no-repeat center 100%;
		width: 240px;
	}
	form{
		border-radius: 20px;
		border: none;
		padding: 30px 60px;
		background: $primary;
		label{
			color: #FFF;
			font-weight: bold;
			text-transform: uppercase;
		}
		.forgetmenot{
			float: none;
		}

		p.submit{
			text-align: center;
		}

		.button-primary{
			float: none;
			margin-top: 20px;
			background: $tertiary;
			&:hover{
				background: darken($tertiary , 10%);
			}
		}
	}
	input.input{
		appearance: none;
		background-clip: padding-box;
		background-color: #f6f8fb;
		border: 1px solid #ced4da;
		border-radius: .48rem;
		color: #63687a;
		display: block;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.3;
		padding: .6125rem 1.5rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		width: 100%
	}
	.button{
		background-color: $primary;
		border: 1px solid transparent;
		color: #FFF;
		border-radius: .48rem;
		cursor: pointer;
		display: inline-block;
		font-family: Rubik,sans-serif;
		font-size: .9375rem;
		font-weight: 600;
		line-height: 1;
		padding: .6125rem 1.375rem;
		text-align: center;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap
	}
	.language-switcher{
		display: none;
	}
}


