/** Config */
@charset "UTF-8";

@import 'config/variables';
@import 'vendors/bootstrap';
$flagsImagePath: "../images/";
@import "~intl-tel-input/src/css/sprite";
@import "~intl-tel-input/src/css/intlTelInput";
@import 'config/external';
@import 'config/fonts';
@import 'config/helpers';

/** Common */
@import 'common/global';

/** Components */
@import 'components' ;

/** Partials */
@import 'partials/header';
@import 'partials/footer';

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.badge.badge-cat{
	display: flex;
	align-items: center;
}

.icon-activity:after{
	vertical-align: middle;
	display: inline-block;
	width: 15px;
	margin-right: 3px;
	align-items: center;
}

.navbar-nav .icon-activity:after{
	width: 16px;
	margin: 0;
}
.page-header .icon-activity:after{
	width: 24px;
	margin-right: 7px;
}


@each $icon-name , $icon in $activity-icons{
	.#{$icon-name}{
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 140%;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.#{$icon-name}:after{

		content: activity-icon($icon);

	}
}
.single-product{
	@include media-breakpoint-down(md){
		.fb_iframe_widget.fb_invisible_flow iframe {
			bottom: 154px !important;
		}
		.fb_dialog.fb_dialog_advanced iframe{
			bottom: 100px !important;
		}
	}

}



img{
	&.lazy {
		opacity: 0;
	}
	&:not(.initial) {
		transition: all 0.2s ease-out;
	}
	&.loaded,
	&.initial,
	&.error {
		opacity: 1;
	}
	&:not([src]) {
		visibility: hidden;
	}
}



.main{
	.alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
		width: auto;
		// padding-right: calc(var(--sp-gutter-x) * 0.5);
		// padding-left: calc(var(--sp-gutter-x) * 0.5);

		//.alignwide {
		//    padding-right: calc(var(--sp-gutter-x) * 0.5);
		//    padding-left: calc(var(--sp-gutter-x) * 0.5);
		//    margin-left: auto;
		//    width: 100%;
		//    max-width: var(--wp--style--global--wide-size);
		//}
	}


	.alignwide {


		@each $name, $width in $container-max-widths  {
			@include media-breakpoint-up($name, $grid-breakpoints){
				margin-left: calc(-#{$width} / 2 + 100% / 2);
				margin-right: calc(-#{$width} / 2 + 100% / 2);
				max-width: $width;
			}
		}

		width: auto;
		// padding-right: calc(#{$container-padding-x} * 0.5);
		// padding-left: calc(#{$container-padding-x} * 0.5);
	}
}
