/**
 * Editor
 */

@import 'config/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";

@import 'config/fonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
.editor-styles-wrapper .wp-block-post-content {


	@import 'config/helpers';


	// Layout & components
	@import "~bootstrap/scss/root";
	@import "~bootstrap/scss/reboot";
	@import "~bootstrap/scss/type";
	@import "~bootstrap/scss/images";
	@import "~bootstrap/scss/containers";
	@import "~bootstrap/scss/grid";

	//@import "~bootstrap/scss/tables";
	@import "~bootstrap/scss/forms";
	@import "~bootstrap/scss/buttons";
	@import "~bootstrap/scss/transitions";
	@import "~bootstrap/scss/dropdown";
	//@import "~bootstrap/scss/button-group";
	@import "~bootstrap/scss/nav";
	//@import "~bootstrap/scss/navbar";
	@import "~bootstrap/scss/card";
	@import "~bootstrap/scss/accordion";
	//@import "~bootstrap/scss/breadcrumb";
	@import "~bootstrap/scss/pagination";
	@import "~bootstrap/scss/badge";
	//@import "~bootstrap/scss/alert";
	//@import "~bootstrap/scss/progress";
	@import "~bootstrap/scss/list-group";
	//@import "~bootstrap/scss/close";
	//@import "~bootstrap/scss/toasts";
	//@import "~bootstrap/scss/modal";
	//@import "~bootstrap/scss/tooltip";
	//@import "~bootstrap/scss/popover";
	//@import "~bootstrap/scss/carousel";
	//@import "~bootstrap/scss/spinners";
	//@import "~bootstrap/scss/offcanvas";
	//@import "~bootstrap/scss/placeholders";

	// Helpers
	@import "~bootstrap/scss/helpers";

	// Utilities
	@import "~bootstrap/scss/utilities/api";
	// scss-docs-end import-stack


	margin: 0; // 1
	font-family: var(--#{$prefix}body-font-family);
	@include font-size(var(--#{$prefix}body-font-size));
	font-weight: var(--#{$prefix}body-font-weight);
	line-height: var(--#{$prefix}body-line-height);
	color: var(--#{$prefix}body-color);
	text-align: var(--#{$prefix}body-text-align);
	background-color: var(--#{$prefix}body-bg); // 2
	-webkit-text-size-adjust: 100%; // 3
	-webkit-tap-highlight-color: rgba($black, 0); // 4
	h1 {
		@extend %heading;
		@include font-size($h1-font-size);
	}

	h2 {
		@extend %heading;
		@include font-size($h2-font-size);
	}

	h3 {
		@extend %heading;
		@include font-size($h3-font-size);
	}

	h4 {
		@extend %heading;
		@include font-size($h4-font-size);
	}

	h5 {
		@extend %heading;
		@include font-size($h5-font-size);
	}

	h6 {
		@extend %heading;
		@include font-size($h6-font-size);
	}
	p {
		margin-top: 0;
		margin-bottom: $paragraph-margin-bottom;
	}

	ol,
	ul {
		padding-left: 2rem;
	}

	ol,
	ul,
	dl {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol {
		margin-bottom: 0;
	}
	b,
	strong {
		font-weight: $font-weight-bolder;
	}


	// Small
	//
	// Add the correct font size in all browsers

	small {
		@include font-size($small-font-size);
	}


	a {
		color: rgba(var(--#{$prefix}link-color-rgb), var(--#{$prefix}link-opacity, 1));
		text-decoration: $link-decoration;

		&:hover {
			--#{$prefix}link-color-rgb: var(--#{$prefix}link-hover-color-rgb);
			text-decoration: $link-hover-decoration;
		}
	}

	// And undo these styles for placeholder links/named anchors (without href).
	// It would be more straightforward to just use a[href] in previous block, but that
	// causes specificity issues in many other styles that are too complex to fix.
	// See https://github.com/twbs/bootstrap/issues/19402

	a:not([href]):not([class]) {
		&,
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
	// Remove the default `border-radius` that macOS Chrome adds.
	// See https://github.com/twbs/bootstrap/issues/24093

	button {
		// stylelint-disable-next-line property-disallowed-list
		border-radius: 0;
	}

	// Explicitly remove focus outline in Chromium when it shouldn't be
	// visible (e.g. as result of mouse click or touch tap). It already
	// should be doing this automatically, but seems to currently be
	// confused and applies its very visible two-tone outline anyway.

	button:focus:not(:focus-visible) {
		outline: 0;
	}
	@import 'common/global';
	@import 'components';


	/** Common */
	@import 'common/global';

	/** Components */
	@import 'components' ;

	/** Partials */
	@import 'partials/header';
	@import 'partials/footer';

	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.badge.badge-cat{
		display: flex;
		align-items: center;
	}

	.icon-activity:after{
		vertical-align: middle;
		display: inline-block;
		width: 15px;
		margin-right: 3px;
		align-items: center;
	}

	.navbar-nav .icon-activity:after{
		width: 16px;
		margin: 0;
	}
	.page-header .icon-activity:after{
		width: 24px;
		margin-right: 7px;
	}


	@each $icon-name , $icon in $activity-icons{
		.#{$icon-name}{
			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: 'icomoon' !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			font-size: 140%;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.#{$icon-name}:after{

			content: activity-icon($icon);

		}
	}
	.single-product{
		@include media-breakpoint-down(md){
			.fb_iframe_widget.fb_invisible_flow iframe {
				bottom: 154px !important;
			}
			.fb_dialog.fb_dialog_advanced iframe{
				bottom: 100px !important;
			}
		}

	}



}



