.main-footer{
	color: #b7c1d0;
	font-size: 15px;

	a{
		color: #788394;
		&:hover{
			color: #a9b3c4;
		}
	}

	.footer-bot{
		background: #161b22;
		font-size: 14px;
	}
}


.footer-widget{
	.title{
		color: $white;
		opacity: .8;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: 5px;
		}
	}
}
