/**
 * Topbar
 */
.topbar {
	font-size: 13px;

	a {
		color: rgba(255, 255, 255, .65);

		&:hover,
		&.active {
			color: rgba(255, 255, 255, .4);
		}
	}
}

.admin-bar .offcanvas-start{
	top: 46px;
}


/**
 * Header
 */
.main-logo {
	width: 130px;
	@include media-breakpoint-up(md) {
		width: 180px;
	}
}

.navbar {
	.nav-link {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x;
	}

	@include media-breakpoint-up(lg) {
		.megamenu {
			min-width: 650px;
		}
		.border-end-lg{
			border-right: 1px solid $border-color;
		}
	}
	@include media-breakpoint-up(md) {
		.border-end-md{
			border-right: 1px solid $border-color;
		}
	}
}


@keyframes slide-up {
	from {
		transform: translateY(.5rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
