/**
 * Global
 */


/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}


// fontawesome hacks
.fa-menu:after {
	content: quote($fa-var-check-circle);
}
.bg-unpaid{
	background-color: $warning;
}
.bg-pending-confirm{
	background-color: $info;
}

.bg-unconfirmed{
	background-color: $danger;
}
.bg-cancelled{
	background-color: $gray-500;
}
.bg-confirmed{
	background-color: $success;
}
.bg-paid{
	background-color: #3f9842;
}


.entry-content{
	font-size: 18px;
	line-height: 1.8;
	@include media-breakpoint-down(md){
		font-size: 16px;
	}
	.has-medium-font-size{
		font-size: 20px;
	}

	.wp-block-image{
		img{
			border-radius: 10px;
		}
	}

	img{
		max-width: 100%;
	}
	.wc-block-handpicked-products{
		border: solid 1px $border-color !important;
		padding: 10px 10px;
		margin-bottom: 40px;
		border-radius: $border-radius;
	}
	.wc-block-grid__product{
		padding: 15px 15px 0;
		display: block;
		border-bottom: 0;


		//&::after{
		//	width: calc(100% - 20px);
		//	height: calc(100% - 20px);
		//	content: '';
		//	display: block;
		//	position: absolute;
		//	top: 10px;
		//	left: 10px;
		//	border: solid 1px $border-color !important;
		//	border-radius: $border-radius;
		//	z-index: 0;
		//	pointer-events: none;
		//}



		&-price{
			font-family: "Rubik", sans-serif;
			color: $tertiary;
			font-size: 20px;
			.unit-price{
				display: none;
			}
		}

		.attachment-woocommerce_thumbnail{
			border-radius: $border-radius;

		}
	}
	.wp-block-button__link.add_to_cart_button{
		@extend .btn;
		@extend .btn-primary;
		font-size: 13px;
		padding: 6px 15px;
	}

	.wp-block-columns{
		gap: 2.5rem;
		@include media-breakpoint-up(lg){
			&:not(.is-not-stacked-on-mobile) {
				gap: 2.5rem;
			}
		}
		@include media-breakpoint-down(lg){
			&.is-not-stacked-on-mobile {
				gap: 2.5rem;
			}
		}
		.wp-block-column{
			*:last-child{
				margin-bottom: 0 !important;
			}
			.wp-block-columns {
				//row-gap: 0;
				margin-bottom: 0 !important;
			}
		}
	}
}
