/*
-----------------------------------------
Condition :not
-----------------------------------------
*/

@mixin spacing-first-last($spacing-first-last: 0) {
	&:not(:first-child){
		margin-top: $spacing-first-last;
	}
	&:not(:last-child){
		margin-bottom: $spacing-first-last;
	}
}


/*
-----------------------------------------
Row Spacing
-----------------------------------------
*/

.row-spacing{
	margin-bottom: - map-get($row-spacing, null);
	@include media-breakpoint-down(md){
		margin-bottom: - map-get($row-spacing, md);
	}
	[class^="col-"],
	[class*=" col-"] {
		margin-bottom: map-get($row-spacing, null);
		@include media-breakpoint-down(md){
			margin-bottom: map-get($row-spacing, md);
		}
	}
}

/*
-----------------------------------------
Section Spacing
-----------------------------------------
*/

.section-spacing{
	@include spacing-first-last(map-get($section-spacing, null));
	@include media-breakpoint-down(md){
		@include spacing-first-last(map-get($section-spacing, md));
	}
}
.section-padding{
	padding-top: map-get($section-spacing, null);
	padding-bottom: map-get($section-spacing, null);

	@include media-breakpoint-down(md){
		padding-top: map-get($section-spacing, md);
		padding-bottom: map-get($section-spacing, md);
	}
}
.z-index-1{
	z-index: 1;
}
.z-index-9{
	z-index: 9;
}
