//Typo
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/**
 * Variables
 */
@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";


$enable-cssgrid: true;
$enable-negative-margins:     true;
$enable-caret:                false;

$min-contrast-ratio:   3;


$gray-500: #adb5bd !default;
$white: #FFF;
$black:#000;
$primary: #243e90;
$secondary: #f8c600;
$tertiary: #fd5531;
$danger: #cb2939;//#e12f40
$info: #22b9d2;//#21c8d9
$success: #8bc34a;
$warning: #fcb140;

$gray-100: #f8f9fa !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;

$light: #f6f8fb;
$dark: #373f50;
$border-color: #e2e3ea;
$card-border-color: $border-color;

$color-contrast-light:     $white;
$color-contrast-dark:      $dark;

$body-bg: $light;
$body-color: #63687a;





$border-radius:               .48rem !default;
$border-radius-lg:            .6rem !default;
$border-radius-sm:            .4rem !default;

$card-border-radius: .6rem;
$card-inner-border-radius: $border-radius;


// Create your own map
$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"tertiary":   $tertiary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark,
	"white":       $white,
	//"share":      $light
);

// Social
$color-facebook: #3a5a98;
$color-twitter: #1da1f2;
$color-linkedin: #0279b2;
$color-instagram: #cb29b1;


// Merge the maps

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: $theme-colors-rgb;
$utilities-bg: map-merge(
		$theme-colors-rgb,
		(
			"black": to-rgb($black),
			"white": to-rgb($white),
			"body": to-rgb($body-bg)
		)
);



$alert-bg-scale:                0%;
$alert-border-scale:            0%;
$alert-color-scale:             -100%;


// Typography
//
$link-decoration: none;
$link-color: #3857b8;
$font-family-sans-serif: 'Open Sans', sans-serif;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`;

$line-height-base: 1.7;
$line-height-sm: 1.3;
$line-height-lg: 2.1;


$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


$h1-line-height:              1.2 !default;
$h2-line-height:              1.25 !default;
$h3-line-height:              1.3 !default;
$h4-line-height:              1.35 !default;
$h5-line-height:              1.4 !default;
$h6-line-height:              1.4 !default;

$lead-font-size: 1.15rem;

$headings-font-family: 'Rubik', sans-serif;
$headings-font-weight: 700;
$headings-color: $primary;
$headings-line-height: 1.325;



// Modifying default Bootstrap's $font-sizes map
$font-sizes: (
	1:      $h1-font-size,
	2:      $h2-font-size,
	3:      $h3-font-size,
	4:      $h4-font-size,
	5:      $h5-font-size,
	6:      $h6-font-size,
	'base': $font-size-base,
	'xxs': 10px,
	'xs' : 12px,
	'sm' : 14px,
) ;
$spacer: 1rem;


// fontawesome
$fa-font-path: "../fonts/fa";

$form-select-indicator-padding: 2.5rem;

//** Placeholder text color
$input-color-placeholder: $gray-500;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5);
$input-line-height:       1.3;

$input-btn-padding-y:         .6125rem !default;
$input-btn-padding-x:         1.5rem !default;
$input-btn-line-height:       1;

$btn-padding-x:                     1.375rem !default;
$btn-padding-x-sm:                  1rem !default;
$btn-padding-y-sm:                  0.435rem;
$btn-padding-x-lg:                  1.5rem !default;
$btn-padding-y-lg:                  0.8rem !default;
$btn-white-space:                   nowrap !default;
$btn-font-size: 15px;

$btn-font-family: $headings-font-family;
$btn-font-weight: 600;




$accordion-padding-y:                     1.5rem;
$accordion-padding-x:                     1.5rem;
$accordion-bg: #fff;
$accordion-button-bg : $gray-100;
$accordion-body-padding-x:                $accordion-padding-x;
$accordion-body-padding-y:                $accordion-padding-y;
$accordion-button-active-bg:              $dark;
$accordion-button-active-color:           $secondary;
$accordion-button-color: $primary;
$accordion-icon-color:             $primary;
$accordion-icon-active-color:             $secondary;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");



$navbar-padding-y:                  $spacer * 0.75;
$navbar-toggler-padding-x:          .5rem;
$navbar-nav-link-padding-y:           .75rem;
$navbar-nav-link-padding-x:           1rem;
$link-hover-color: $tertiary;
$navbar-light-active-color: $primary;
$nav-link-color:                    $gray-600;
$nav-link-hover-color:              $tertiary;

/*
-----------------------------------------
Spacing
-----------------------------------------
*/
//$gutters: 1;
$grid-gutter-width: 2rem;
$container-padding-x: $grid-gutter-width * .5;


	// Row
$row-spacing: (
	null: 40px,
	md: 30px,
);


// Section
$section-spacing: (
	null: 70px,
	md: 50px,
);

$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 4,
	7: $spacer * 5
);

$card-spacer-y:                     1.25rem;
$card-spacer-x:                     1.25rem;



$dropdown-item-padding-y:           .425rem ;
$dropdown-item-padding-x:           1rem;
$dropdown-spacer: 0;
$component-active-bg : $primary;
$dropdown-link-active-bg: $primary;
$dropdown-font-size: 14px;
$dropdown-border-radius: 10px;
$dropdown-inner-border-radius: 0;
$dropdown-border-width: 0;
//$dropdown-padding-y: 0;
$dropdown-box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.2);
$dropdown-link-hover-color: $primary;
$dropdown-link-color: #63687a;

$color-red-error: $danger;
$color-green-success: $success;
$color-grey-arrow: $dark;


$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)




$breadcrumb-font-size:12px;
$breadcrumb-active-color: rgba($white, 0.35);
$breadcrumb-divider:                quote("›");


$btn-close-color: $secondary;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");


$activity-icons : (
	'fa-custom' : 'custom',
	'fa-extreme' : 'extreme',
	'fa-cultural' : 'cultural',
	'fa-roots' : 'roots',
	'fa-custom-activity' : 'custom',
	'fa-terre' : 'roots',
	'fa-mer' : 'cultural',
	'fa-air' : 'extreme',
	'fa-urbain' : 'cultural',
);
$activity-icons-color : (
	"primary":    $primary,
	"secondary":  $secondary,
	"tertiary":   $tertiary,
);

@function activity-icon($icon,  $color : $secondary) {
	@if(  $icon == 'cultural'){
		@return "\e903";
	}
	@if( $icon == 'roots'){
		@return "\e900";
	}
	@if( $icon == 'extreme'){
		@return "\e902";
	}
	@if( $icon == 'custom'){
		@return "\e901";
	}
	@return "\e901";
}
