/** Config */
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/open-sans-v28-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/open-sans-v28-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/open-sans-v28-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/open-sans-v28-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/rubik-v20-latin-700.woff2") format("woff2"), url("../fonts/rubik-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500italic - latin */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/rubik-v20-latin-500italic.woff2") format("woff2"), url("../fonts/rubik-v20-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700italic - latin */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/rubik-v20-latin-700italic.woff2") format("woff2"), url("../fonts/rubik-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?lngglo");
  src: url("../fonts/icomoon.woff2?lngglo") format("woff2"), url("../fonts/icomoon.woff?lngglo") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #FFF;
}

#login {
  width: 100%;
  max-width: 500px;
}

.login h1 a {
  background: transparent url("../images/what-to-do-in-tunisia.svg") no-repeat center 100%;
  width: 240px;
}
.login form {
  border-radius: 20px;
  border: none;
  padding: 30px 60px;
  background: #243e90;
}
.login form label {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}
.login form .forgetmenot {
  float: none;
}
.login form p.submit {
  text-align: center;
}
.login form .button-primary {
  float: none;
  margin-top: 20px;
  background: #fd5531;
}
.login form .button-primary:hover {
  background: #f92e02;
}
.login input.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: #f6f8fb;
  border: 1px solid #ced4da;
  border-radius: 0.48rem;
  color: #63687a;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0.6125rem 1.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.login .button {
  background-color: #243e90;
  border: 1px solid transparent;
  color: #FFF;
  border-radius: 0.48rem;
  cursor: pointer;
  display: inline-block;
  font-family: Rubik, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.6125rem 1.375rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.login .language-switcher {
  display: none;
}

/*# sourceMappingURL=admin.css.map*/